<!--
 * @Description: 
 * @Author: IWillBe12138
 * @Date: 2022-06-30 14:50:03
 * @LastEditTime: 2022-06-30 16:13:24
 * @LastEditors: IWillBe12138
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>上传文件</title>
</head>
<body>
    <form method="post" action="/uploading" enctype="multipart/form-data">
        <input type="file" name="inputFiles"/>
        <input type="submit" value="上传"/>
    </form>
</body>
</html>